:root {
    --color-white: #ffffff;
    --color-white-pine: #eefffe;

    --color-grey-10: #f9f9fa;
    --color-grey-20: #ededf0;
    --color-grey-30: #d7d7db;
    --color-grey-40: #b1b1b3;
    --color-grey-50: #737373;
    --color-grey-60: #4a4a4f;
    --color-grey-70: #38383d;
    --color-grey-80: #2a2a2e;
    --color-grey-90: #0c0c0d;

    --color-pine-50: #00aba8;
    --color-pine-60: #008c8a;
    --color-pine-70: #007876;
    --color-pine-80: #005958;
    --color-pine-90: #004544;

    --color-green-50: #00a86a;
    --color-green-60: #00945d;
    --color-green-70: #00754a;
    --color-green-80: #005c3a;
    --color-green-90: #00422a;

    --color-gold-50: #d1b200;
    --color-gold-60: #b29800;
    --color-gold-70: #857100;
    --color-gold-80: #665700;
    --color-gold-90: #524500;

    --color-red-50: #d40e00;
    --color-red-60: #ab0b00;
    --color-red-70: #880900;
    --color-red-80: #550600;
    --color-red-90: #3b0400;
}
